$default-col-length: 177px;
$default-off-length: 15px;

// $col-len: calc(#{$default-col-length} / 1920px * 100%);
// $off-len: calc(#{$default-off-length} / 1920px * 100%);
$col-len: calc(177 / 1920 * 100vw);
$off-len: calc(15 / 1920 * 100vw);


// BOOTSTRAP VARS
$grid-columns:      9;
$grid-gutter-width: $col-len;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1600px
  // xl: 1800px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1520px
  // xl: 1743px
);